<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div id="app">

<!--    <input type="text" v-model="username">{{username}}-->
<!--    <input type="button" @click="show">-->
<!--    <el-button type="danger" @click="show">危险按钮</el-button>-->
<!--    <input type="text" v-model="count" >{{count}}-->

<!--    <div  v-if="count==1">-->
<!--        1-->
<!--    </div>-->
<!--    <div v-if="count==2">-->
<!--        2-->
<!--    </div>-->
<!--    <div v-for="addr in addrs">{{addr}}</div>-->
    <table>
        <tr v-for="(money,i) in moneys">
            <td>
                {{money.id}}
            </td>
            <td>
                {{money.name}}
            </td>
            <td>
                {{money.money}}
            </td>
        </tr>
    </table>

</div>


<script>
    new Vue({
        el:"#app",
        data(){
            return{
                username:"",
                count:"",
                addrs:["1","2","3"],
                moneys :[]
            }
        },
        methods:{
            show(){
                alert("lol")
            }
        },
        mounted(){
            var _this = this;
            axios.get("http://localhost:80/bookController_Web/books").then(function (resp){
                alert("right!");
                _this.moneys = resp.data;
            })
        }
    })
</script>

</body>
</html>